* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #de6ff7;
  background: radial-gradient(circle, #fe4ee7 0%, #4b3bfb 100%);
  font-family: "Dancing", monospace;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.card {
  width: 90%;
  max-width: 500px;
  padding: 40px 30px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}

h1 {
  font-size: 0.9rem;
  color: #5e088a;
  margin-bottom: 16px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1.5s ease forwards 60s;
}

p {
  text-align: right;
  font-style: italic;
  font-size: 0.9rem;
  color: #333;
  line-height: 1.6;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease forwards calc(0.3s + var(--delay));
}
h6 {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}
.heartbeat {
  animation: heartbeat 1.4s ease infinite;
  margin: 0 auto 16px;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.95);
  }
}


.gallery{
  width: 140px;
  height: 80vh;
  overflow: hidden;
}

.track{
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: scrollUp 18s linear infinite;
}

.track.reverse{
  animation: scrollDown 18s linear infinite;
}

.gallery img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 30px;
  border: 4px solid rgba(255,255,255,.75);
  box-shadow: 0 10px 30px rgb(0,0,0,.18);
  flex: 0 0 auto;
  
}

@keyframes scrollUp{
  from{transform: translateY(0)}
  to{transform: translateY(-50%)}
}

@keyframes scrollDown{
  from{transform: translateY(-50%)}
  to{transform: translateY(0)}
}